<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Contacts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <style>
        .highlight-new {
            background-color: lightgreen;
        }
        .highlight-old {
            background-color: lightcoral;
        }
    </style>
</head>
<body>
<h1>All Contacts</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}"
        th:classappend="${contact.createdDate.toLocalDate()} >= ${thresholdDate} ? 'highlight-new' : 'highlight-old'">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.name}"></td>
        <td th:text="${contact.phoneNumber}"></td>
        <td th:text="${contact.createdDate}"></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/contacts/add"><button>Add More Contacts</button></a>
</body>
</html>
